@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-green:#2563EB;
    --bg-white:white;
    --bg-black:black;
    --bg-grey:grey;
}
body{
    font-family: monospace sans-serif;
}
.cart__container{
    display: flex;
    /* flex-wrap: wrap; */
    padding: 0.3rem 0.2rem;

}
.cart__items{
    display:block;
    height: 50%;
    margin: 0 auto;
}
.cart__items img{
    height: 15rem;
    width: 20rem;
}
.wishlist{
    margin: 5rem 0;
}
.wishlist__container {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 2rem;
}
.wishlist__items{
    border: 1.5px solid var(--bg-green);
    width: 20rem;
    margin: 1rem  2rem;
}
.cart__products{
    display: flex;
    margin: 2rem;
    /* flex-wrap: wrap; */
}
.cart__checkout{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   /* margin-right: 20rem; */
   margin-left: 3rem;
   margin-top: 7rem;
}
h1{
    font-family: monospace sans-serif;
    font-size: 20px;
}
.cart__header{
    display: flex;
    flex-direction:column ;
    /* flex-wrap: wrap; */
    margin: 3rem 0;
    width: 35rem;
}
.cart__header ul{
    border: 1.5px solid var(--bg-green);
    height: 17rem;
    margin: 10px 0;
    display: flex;
    /* flex-wrap: wrap; */
}
.cart__list{
    margin:0;
}
.cart__list img{
    width: 200px;
    height: auto;
    margin: 1rem 0;
}
.cart__name{
    margin: 1rem 2rem 2rem 1rem ;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    
}
.cart__checkout{
    border: 1.5px solid var(--bg-green);
    width: 15rem;
    height: 16rem;
    margin: 3.7rem 3rem;
}
.cart__checkout h1{
    border-bottom: 1px solid grey;
    padding: 1em;
}
.checkout{
    padding: 2em 3em;
}
.checkout__container{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.buttons{
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-grow: 3; */
    padding: 2rem 0;
    border-top: 1px solid grey;
}
.cart__price{
    font-size: 1.1rem;
}
.cart__item{
    font-size: 1.4rem;
    font-family: sans-serif;
}
.btn__qty{
    margin: 0.7rem 0;
}
.btn__wishList{
    display: flex;
}
.btn-secondary{
    margin:1rem;
    padding: 0.3rem;
    width: 13rem;
    border: 1px solid var(--bg-green);
    font-size: 1.1rem;
    color: var(--bg-white);
    background-color: var(--bg-green);
    border-radius: 0.2rem;
    cursor: pointer;
}
.btn__bag{
    height: 2.7rem;
    width: 10rem;
}
.btn__remove{
    width: 9rem;
}
.btn__bg{
    width: 8rem;
}
.btn-primary{
    margin:1rem;
    border: 1px solid var(--bg-green);
    font-size: 1.1rem;
    color: var(--bg-white);
    background-color: var(--bg-green);
    border-radius: 0.2rem;
    cursor: pointer;
}



